/* Whole Home Section */
.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0 60px;
  background: #0f0f0f;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  transition: all 0.5s ease;
}

/* Left Text Section */
.new-burgers-add {
  width: 50%;
}

.new-burgers-add p:first-child {
  background: #1aff66;
  color: black;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.new-burgers-add h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 20px;
}

.new-burgers-add h1 span {
  color: #FF6B00;
}

.new-burgers-add p {
  color: #aaa;
  width: 50%;
  margin-bottom: 25px;
}
.description{
  width: 50%;
}
/* Button */
.new-burgers-add button {
  background: #FF6B00;
  border: none;
  padding: 12px 25px;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.new-burgers-add button:hover {
  box-shadow: 0 0 15px #FF6B00;
  transform: scale(1.05);
}

/* Right Image Section */
.Add-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Burger Image */
.Add-image img {
  width: 350px;
  transform: rotate(-8deg);
  transition: 0.4s;
  filter: drop-shadow(0 0 25px rgba(255, 107, 0, 0.6));
}

/* Hover effect */
.Add-image img:hover {
  transform: rotate(0deg) scale(1.05);
  filter: drop-shadow(0 0 40px rgba(255, 107, 0, 0.9));
}

.prev, .next {
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0f0f0f;
  border: none;
  color: white;
}

.prev {
  left: 10px;
}

.next {
  right: 20px;
}