*{
  margin: 0;
  padding: 0;
  
 

}

/* index.css or App.css */
html {
  scroll-behavior: smooth;
}

#menu, #home {
  scroll-margin-top: 80px; /* Adjust this to the height of your Navbar */
}

/* index.css */
h1, h2, p, ul {
  margin: 0;
  padding: 0;
}